# Flutter & Dart
.dart_tool/
.build/
build/
pubspec.lock
CLAUDE.md
FLOW.md

.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# FVM Version Cache
.fvm/